@use '@angular/material' as mat;
@import 'variables';

@include mat.core();

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($theme);

@include mat.typography-hierarchy($theme);

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

vrsoftware-root {
  nav {
    background-color: mat.get-color-from-palette($primary);
    color: mat.get-color-from-palette($primary, 'darker-contrast');

    mat-expansion-panel,
    mat-expansion-panel:hover,
    mat-expansion-panel-header,
    mat-expansion-panel-header:hover,
    .mat-expansion-panel-header-title,
    .mat-expansion-panel:not([class*='mat-elevation-z']),
    .mat-expanded,
    .mat-expansion-panel-content,
    .mat-expansion-panel-body {
      background-color: mat.get-color-from-palette($primary);
      border-radius: 0px;
      box-shadow: none;
      color: mat.get-color-from-palette($primary, 'darker-contrast');
    }
    a,
    .mat-expansion-indicator::after,
    .mat-list-item-content {
      color: mat.get-color-from-palette($primary, 'darker-contrast');
    }
  }
}
