version: '3.8'

services:
  mysql-admin:
    image: mysql:8.0.31
    environment:
      MYSQL_ROOT_PASSWORD: ${ADMIN_DATABASE_PASSWORD}
      MYSQL_DATABASE: ${ADMIN_DATABASE_NAME}
    ports:
      - ${ADMIN_DATABASE_PORT}:3306
    volumes:
      - mysql-admin-data:/var/lib/mysql

  mysql-student:
    image: mysql:8.0.31
    environment:
      MYSQL_ROOT_PASSWORD: ${STUDENT_DATABASE_PASSWORD}
      MYSQL_DATABASE: ${STUDENT_DATABASE_NAME}
    ports:
      - ${STUDENT_DATABASE_PORT}:3306
    volumes:
      - mysql-student-data:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3.9.25-management-alpine
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq/

  admin-api:
    build:
      context: .
      dockerfile: Dockerfile.admin-api
    environment:
      ADMIN_DATABASE_HOST: mysql-admin
      ADMIN_DATABASE_PORT: 3306
      ADMIN_DATABASE_USERNAME: ${ADMIN_DATABASE_USERNAME}
      ADMIN_DATABASE_PASSWORD: ${ADMIN_DATABASE_PASSWORD}
      ADMIN_DATABASE_NAME: ${ADMIN_DATABASE_NAME}
      RABBIT_MQ_HOST: amqp://rabbitmq:5672
    ports:
      - ${ADMIN_API_PORT}:${ADMIN_API_PORT}
    volumes:
      - .:/app
    depends_on:
      - mysql-admin
      - rabbitmq

  student-api:
    build:
      context: .
      dockerfile: Dockerfile.student-api
    environment:
      STUDENT_DATABASE_HOST: mysql-student
      STUDENT_DATABASE_PORT: 3306
      STUDENT_DATABASE_USERNAME: ${STUDENT_DATABASE_USERNAME}
      STUDENT_DATABASE_PASSWORD: ${STUDENT_DATABASE_PASSWORD}
      STUDENT_DATABASE_NAME: ${STUDENT_DATABASE_NAME}
      RABBIT_MQ_HOST: amqp://rabbitmq:5672
    ports:
      - ${STUDENT_API_PORT}:${STUDENT_API_PORT}
    volumes:
      - .:/app
    depends_on:
      - mysql-student
      - rabbitmq

  admin:
    build:
      context: .
      dockerfile: Dockerfile.admin
    ports:
      - 4200:4200
    volumes:
      - .:/app
    depends_on:
      - admin-api

volumes:
  mysql-admin-data:
  mysql-student-data:
  rabbitmq-data:
