version: '3.8'

services:
  mysql-admin:
    image: mysql:8.0.31
    environment:
      MYSQL_ROOT_PASSWORD: ${ADMIN_DATABASE_PASSWORD}
      MYSQL_DATABASE: ${ADMIN_DATABASE_NAME}
    ports:
      - ${ADMIN_DATABASE_PORT}:3306
    volumes:
      - mysql-admin-data:/var/lib/mysql

  mysql-student:
    image: mysql:8.0.31
    environment:
      MYSQL_ROOT_PASSWORD: ${STUDENT_DATABASE_PASSWORD}
      MYSQL_DATABASE: ${STUDENT_DATABASE_NAME}
    ports:
      - ${STUDENT_DATABASE_PORT}:3306
    volumes:
      - mysql-student-data:/var/lib/mysql

  admin-api:
    build:
      context: .
      dockerfile: Dockerfile.admin-api
    environment:
      ADMIN_DATABASE_HOST: mysql-admin
      ADMIN_DATABASE_PORT: 3306
      ADMIN_DATABASE_USERNAME: ${ADMIN_DATABASE_USERNAME}
      ADMIN_DATABASE_PASSWORD: ${ADMIN_DATABASE_PASSWORD}
      ADMIN_DATABASE_NAME: ${ADMIN_DATABASE_NAME}
    ports:
      - ${ADMIN_API_PORT}:${ADMIN_API_PORT}
    volumes:
      - .:/app
    depends_on:
      - mysql-admin

volumes:
  mysql-admin-data:
  mysql-student-data:
