<div class="grid">
  <nav>
    <div class="info-group">
      <mat-icon>admin_panel_settings</mat-icon>
      <h2>Sistema Administrativo</h2>
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Cadastros</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a matListItemTitle routerLink="/cursos">
          <mat-list-item>Cursos</mat-list-item>
        </a>
        <a matListItemTitle routerLink="/alunos">
          <mat-list-item> Alunos </mat-list-item>
        </a>
      </mat-nav-list>
    </mat-expansion-panel>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
