<vrsoftware-title
  icon="description"
  title="Cursos"
  (saveItem)="openDialog()"
></vrsoftware-title>

<ng-container
  *ngIf="paginatedCourses$ | async as paginatedCourses; else loadingOrError"
>
  <div class="courses">
    <mat-card *ngFor="let course of paginatedCourses.items">
      <mat-card-content>
        <h2>{{ course.name }}</h2>
        <p>
          {{ course.syllabus }}
        </p>
      </mat-card-content>
    </mat-card>
    <mat-paginator
      #paginator
      (page)="handlePageEvent($event)"
      showFirstLastButtons
      [pageSizeOptions]="pageSizeOptions"
      [length]="paginatedCourses.meta.totalItems"
      [pageIndex]="paginatedCourses.meta.currentPage - 1"
      [pageSize]="paginatedCourses.meta.itemCount"
    >
    </mat-paginator>
  </div>
</ng-container>
<ng-template #loadingOrError>
  <ng-container *ngIf="requestError; else loading">
    <vrsoftware-error
      title="Houve um erro ao tentar obter os cursos"
      buttonText="Voltar"
      (buttonClick)="goBack()"
    >
    </vrsoftware-error>
  </ng-container>
  <ng-template #loading>
    <div class="spinner">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-template>
</ng-template>
